@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

body{
    background-color:  #0D192C;
    font-family: 'Outfit';
}


.collection4{
    display: grid;
    justify-content: center;
    align-items: center;
    transform: translateY(30%);
}

.rectangle{
    width: 350px;
    height: 596px;
    border-radius: 15px;
    background: #15263F;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
}

.pixel{
    width: 302px;
    height: 302px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 25px;
}

h1{
    width: 302px;
    height: 28px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 24px;
    cursor: pointer;
}

h1:hover{
    color: #00fff8;
}

.p1{
    width: 302px;
    height: 52px;
    font-family: 'Outfit';
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: #8BACD9;
    margin-left: 24px;
}


.clock{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.eth{
    padding-right: 120px;
}

.p2{
    width: 73px;
    height: 20px;
    margin-left: 9px;
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 16px;
    line-height: 20.16px;
    color: #8BACD9;
}


.line{
    height: 1px;
    background: #2e405a;
    width: 302px;
    margin-left: 20px;
}

.img3{
    margin-left: 24px;
    margin-top: 16px;
}

.p3{
    position: relative;
    margin-left: 73px;
    bottom: 45px;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #8BACD9;
    height: 20px;
}


span{
    margin-left: 3px;
    color: #FFFFFF;
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}

span:hover{
    color: #00fff8;
}


.visible{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 302px;
    height: 302px;
    background-color: #00fff781;
    opacity: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    bottom: 595px;
    left: 25px;
}

.visible:hover{
    opacity: 1;
}
